<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563583514872-euiuvq2rmglk2aau2s8988rji078320m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563583514872-euiuvq2rmglk2aau2s8988rji078320m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563583514872-p9jsn5a5seh0pero6onundckvkduqp49.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMkMqm4kKn9fC4slubwKe67nlrjWjW_E</string>
	<key>GCM_SENDER_ID</key>
	<string>563583514872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanaliratest.sanalira</string>
	<key>PROJECT_ID</key>
	<string>sanalirademoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sanalirademoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563583514872:ios:5db27cb03d989e8272630d</string>
</dict>
</plist>